h1, .h1 {
  font-size: 35px;
}

@font-face {
  font-family: nyh;
  src: url(/fonts/nyh.ttf);
}
@font-face {
  font-family: bah;
  src: url(/fonts/bashitha.ttf);
}
@font-face {
  font-family: warna;
  src: url(/fonts/warna.ttf);
}
body, textarea, div, span, button, footer, ul, li {
  font-family: warna;
}
textarea, div, span, button {
  font-size: 18px;
}
.word {
  padding: 5px;
}

button, .btn-lg {
  font-size: 24px;
}

footer {
  width: 100%;
  text-align: center;
}

.writing {
  height: 500px;
  border: groove black 1px;
  overflow-y: scroll;
}
.listCase {
  -webkit-padding-start: 0px;
}
.listCase li {
  list-style-type: none;
  text-indent: 0;
}

#writePad {
  padding: 0px 5px;
}

.widget-content li {
  float: left;
  margin: 2px 5px;
  padding: 6px;
  background-color: wheat;
  border-radius: 10px;
  text-indent: 0;
  text-align: center;
}

.widget-content ul {
  list-style: none;
}