<div class="col-sm-12">
    <h1 class="h1 col-sm-1"><img style="float: left; vertical-align: middle; display: inline-block;" src="http://2.bp.blogspot.com/-X7FYPSHwHOw/WYa-K2aCkAI/AAAAAAAAAjE/WpSBgfauZTQGZ8uS59RVH0LmljhTCQ7DQCK4BGAYYCw/s1600/hedaer-logo.png%22" /></h1>
    <h1 class="h1 text-left col-sm-9"> - &#3520;&#3538;&#3503;&#3530;&zwj;&#3514;&#3540;&#3501;&#3530; සිංහල අක්ෂර වින්‍යාසය පරීක්ෂාව</h1>
    <h5 class="col-sm-2">ගිට් හබ් ගැරුප්පුව</h5>
</div>
<hr class="col-sm-12 hr" style="margin: 9px 2px;" />
<div ng-controller="View1Ctrl" class="col-sm-12">
        <div class="col-sm-9 writing" id="pastedArea" ng-model="doc" contenteditable="true"></div>
        <div class="col-sm-3" id="writePad">
            <h3>&#3467;&#3508;&#3503;&#3545;&#3523;&#3530;</h3>
            <ul>
                <li>වම්පැත්තේ ඇති පෙට්ටියට ඔබෙගේ වාක්‍ය හෝ රචනය ඇතුලක් කරන්න</li>
                <li>කොපි පේස්ට් හෝ සෘජුව ඇතුලත් කරන්න</li>
                <li>ඇතුලත් කොට අවසානයේ පහත කොල බොත්තම ඔබන්න</li>
                <li>වැරදි සහගත යැයි අනුමාන කරනා වචන කහ පැහැයෙන් දිස්වේවී</li>
                <li>එම කහ පැහැති කොටස ක්ලික් (මවුස් එකෙන් එබීම) කරවිට යෝගී වචන දිස්වේ</li>
                <li>එවිට නිවැරදි වචනය ක්ලික් කරීමෙන් එය වෙනස් වේ </li>
            </ul>
            <div style="width: 100%; text-align: center;"><button class="btn btn-lg btn-success" ng-click=checkSpell()>හරිද?</button></div>
        </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-9">
        <h4>මෙවලමේ සීමා</h4>
        <ul><li>දැනට අත්හදාබැලීම් කර ඇත්තේ ෆයර් ෆොක්ස් සහ ක්රෝම් වැඩසටහන් වල පමණි, අනිකුත් වැඩසටහන මගින් භාවිතයේදී ගැටලු ඇත්නම් කරුනාකර දන්වා එවන්න. spell@pituwa.lk
        </li></ul>
    </div>
</div>
<div id="wordList" style="position: absolute; background-color: #c9e6ef;opacity: 0.8;padding: 5px;border-radius: 5px; display: none;">
    <ul id="ulWordList" class="listCase">
    </ul>
</div>
<hr class="col-sm-12 hr" style="margin: 9px 2px;" />